<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 引用vue -->
    <script src="vue.js"></script>
    <title>vue 在 computed 中计算和过滤</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="user of showUsers">
                <span>{{ user.name }}</span>
                <span>{{ user.sex }}</span>
            </li>
        </ul>
        <input type="radio" v-model="sex" value="male"> 男
        <input type="radio" v-model="sex" value="female"> 女
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            computed: {
                showUsers() {
                    if(this.sex == 'all') {
                        return this.users;
                    }else {
                        // 这里必须使用 ES6提供的 链式函数 ，否则 this 会指向 window 而不是 app
                        return this.users.filter((user)=> { //调用对象的过滤方法 filter(回调函数，为真则不过滤，为假则过滤)
                            return user.sex == this.sex;
                        });
                    }
                }
            },
            data: {
                users: [
                    {name: 'boy', sex: 'male'},
                    {name: 'man', sex: 'male'},
                    {name: 'girl', sex: 'female'},
                    {name: 'woman', sex: 'female'},
                ],
                sex: 'all',
            },
        });
    </script>
</body>

</html>