<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 引用vue -->
    <script src="vue.js"></script>
    <title>vue 表单控制 radio</title>
</head>

<body>
    <div id="app">
        <input type="radio" value="male" v-model="sex"> 男 <br>
        <input type="radio" value="female" v-model="sex"> 女 <br>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                sex: 'male',
            },
        });
    </script>
</body>

</html>