<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 引用vue -->
    <script src="vue.js"></script>
    <title>vue 模板</title>
</head>

<body>
    <div id="app">
        <input type="radio" v-model="formType" value="myInput"> 使用 input
        <input type="radio" v-model="formType" value="myTextarea"> 使用 textarea

        <div :is="formType"></div>
    </div>

    <script>
        var myInput = {
            template: "<div> <input> </div>",
        };
        var myTextarea = {
            template: "<div> <textarea></textarea> </div>",
        }
        var app = new Vue({
            el: '#app',
            data: {
                formType: "myInput",
            },
            components: {
                myInput,
                myTextarea
            }
        });
    </script>
</body>

</html>